/*

Home/Search page CSS

*/

body, html{
	position: relative;
	background-color: #333333;
	height: 100%;
	min-width: 100%;
}

#head{
	position: fixed;
	z-index: 1;
	width: 100%;
	min-height: 8em;
	background-color: #E4E4E4;
	box-shadow: 0 10px 10px black;
}


#logo{
	position: relative;
	width: 100%;
	color: green;
	margin: 0 auto;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 48pt;
}

/*======= LOGO LINK =======*/
em#race{color: #333333;}
#logo a:link{color: green; text-decoration: none;}
#logo a:hover{color: green;}
#logo a:visited{color: green;}

#edmundsLogo{
	position: relative;
	height: 44px;
	width: 220px;
	margin: 0 auto;
}
#loading{display: none;}

#middle{
	position: relative;
	height: 80%;
}
#gridDiv{
	position: absolute;
	height: auto;
	background-color: transparent;
}

#makeGrid, #modelGrid, #yearGrid, #trimGrid, #specGrid{
	padding-top: 10em;
	margin-bottom: 40px;
}

.makeDiv{
	margin: 0 auto;
}

#specGrid{
	padding-top: 150px;
	padding-left: 15px;
	padding-right: 15px;
}

.specTable{
	background-color: rgba(80, 80, 80, 0.5);
	min-height: 600px;
}

.specTable h1, h3, span{
	color: lightgray;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	word-wrap: break-word;
	hyphens: auto;
	text-shadow: 7px 7px 10px black;
}

#specList {min-height: 75%; width: 100%;}
#specList div{width: 100%; min-height: 80px;}
.specTable h3{text-align: left;}
.specTable #specList{padding-top: 20px;}
.specName{width: 50%;}
.spec{color: green; /*display: none;*/}

@media (max-width: 600px){
	.specTable h1{font-size: 18pt;}
	.specTable h3{font-size: 13pt;}
}


button {
	font-family: 'Oswald', sans-serif;
	font-size: 14pt;
	margin: 0 auto;
	height: 55px;
	width: 100%;
	color: lightgray;
	border-color: transparent;
	border-radius: 0;
	box-shadow: none;
	text-align: center;
	word-wrap: break-word;
	border-width: thin;
	margin-bottom: 15px;
	background-color: rgba(80, 80, 80, 0.5);
}

button:hover, button:active, button:focus {
	border-style: solid;
	border-color: green;
	background-color: green;
	border-width: thin;
	outline: none;
}

#loading{
	font-size: 30pt;
	font-family: 'Oswald', sans-serif;
	color: lightgray;
	text-align: center;
	margin-top: 300px;
	text-shadow: 7px 7px 10px black;
}

/*===========SHADOW FOOTER=========*/
#foot{
	position: fixed;
	background-color: #E4E4E4;
	width: 100%;
	height: 44px;
	box-shadow: 0 -6px 12px black;
	bottom: 0;
	left: 0;
}
