<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8" />
	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<title>{{ trim.year.year }} {{ trim.make.name }} {{ trim.model.name }} {{ trim.trim }}</title>

	{% load staticfiles %}
	{% load humanize %}
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="{% static 'search/images/favicon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'search/detail.css' %}" />


</head>

<body>
	<div class="container-fluid" id="head">
		<h1><em>{{ trim.year.year }} {{ trim.make.name }} {{ trim.model.name }} {{ trim.trim }}</em></h1>
		<a href="/"><em>Search Again</em></a>
	</div>

	<div id="middle">

		<div id="specTable" class="container">
			<table id="specs">
				<tr>
					<th scope="row">Engine:</th>
					<td>{{ trim.engine.size|default:"[Unavailable]" }}L {{ trim.engine.configuration }} {{ trim.engine.cylinder }} ({{ trim.engine.compressorType }})</td>
				</tr>
				<tr>
					<th scope="row">Horsepower:</th>
					<td id="hp">{{ trim.engine.horsepower }} @ {{ trim.engine.rpm.horsepower }}rpm</td>
				</tr>
				<tr>
					<th scope="row">Torque:</th>
					<td id="tq">{{ trim.engine.torque }} @ {{ trim.engine.rpm.torque }}rpm</td>
				</tr>
				<tr>
					<th scope="row">Transmission:</th>
					<td>{{ trim.transmission.numberOfSpeeds }} speed {{ trim.transmission.transmissionType|lower }}</td>
				</tr>
				<tr>
					<th scope="row">Weight:</th>
					<td id="weight">{{ weight }} lbs</td>
				</tr>
				<tr>
					<th scope="row">Drivetrain:</th>
					<td>{{ trim.drivenWheels }}</td>
				</tr>
				<tr>
					<th scope="row">Fuel Economy (MPG):</th>
					<td id="fuelEco">{{ trim.MPG.city }} City {{ trim.MPG.highway }} Highway</td>
				</tr>
				<tr>
					<th scope="row">MSRP:</th>
					<td id="msrp">${{ trim.price.baseMSRP|cut:".0"|intcomma }}</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="container-fluid" id="foot">
		<div id="logo">
			<img src="{% static 'search/images/edmundslogo.png' %}" alt="Edmunds" />
		</div>
	</div>
</body>

</html>
