<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spec Race</title>

	{% load staticfiles %}
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" type="image/png" href="{% static 'search/images/favicon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'search/index.css' %}" />

</head>

<body>
	<div id="head">
		<div id="logo">
			<a href='/'><em id="spec">Spec</em> <em id="race">Race</em></a>
		</div>
	</div>
	<div id="middle" class="container">
		<div class="row">
			<div id="gridDiv" class="col-xs-12">
				<div id="makeGrid" class="row">
					{% for make in allMakes %}
						<div class="col-xs-6 col-sm-3 col-md-2" class="makeDiv" >
							<button class="makeButton" type="submit" value="{{ make.niceName }}">{{ make.name }}</button>
						</div>
					{% endfor %}
				</div>
				<div id="modelGrid" class="row">
					<!-- List model buttons here with JS. -->
				</div>
				<div id="yearGrid" class="row">
					<!-- List year buttons here with JS. -->
				</div>
				<div id="trimGrid" class="row">
					<!-- List trim buttons here with JS. -->
				</div>
				<div id="specGrid" class="row">
					<div class="col-xs-12 specTable">
						<h1 id="carName"><em></em></h1>
						<div id="specList">
							<div id="engine">
								<h3 class="specName col-xs-6">Engine: </h3>
								<h3 class="spec col-xs-6"></h3>
							</div>
							<div id="horsepower">
								<h3 class="specName col-xs-6">Horsepower: </h3>
								<h3 class="spec col-xs-6"></h3>
							</div>
							<div id="torque">
								<h3 class="specName col-xs-6">Torque: </h3>
								<h3 class="spec col-xs-6"></h3>
							</div>
							<div id="transmission">
								<h3 class="specName col-xs-6">Transmission: </h3>
								<h3 class="spec col-xs-6"></h3>
							</div>
							<div id="weight">
								<h3 class="specName col-xs-6">Weight: </h3>
								<h3 class="spec col-xs-6"></h3>
							</div>
							<div id="drivetrain">
								<h3 class="specName col-xs-6">Drivetrain: </h3>
								<h3 class="spec col-xs-6"></h3>
							</div>
							<div id="fuelEco">
								<h3 class="specName col-xs-6">Fuel Economy (MPG): </h3>
								<h3 class="spec col-xs-6"></h3>
							</div>
							<div id="msrp">
								<h3 class="specName col-xs-6">MSRP: </h3>
								<h3 class="spec col-xs-6"></h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="loading">
				<p>Loading ...</p>
			</div>
		</div>
	</div>
	<div id=foot>
		<div id="edmundsLogo">
			<img src="{% static "search/images/edmundslogo.png" %}"/>
		</div>
	</div>
<script src="{% static 'search/helpers.js' %}"></script>
<script src="{% static 'search/narrow.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80240078-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
