<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spec Race</title>

	{% load staticfiles %}
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" type="image/png" href="{% static 'search/images/favicon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'search/index.css' %}" />

</head>

<body>
	<div id="head">
		<div id="logo">
			<a href='/'><em id="spec">Spec</em> <em id="race">Race</em></a>
		</div>
		<div id="edmundsLogo">
			<img src="{% static "search/images/edmundslogo.png" %}"/>
		</div>
	</div>
	<div id="middle" class="container">
		<div class="row">
			<div id="gridDiv" class="col-xs-12">
				<div id="makeGrid" class="row">
					{% for make in allMakes %}
						<div id="makeDiv" class="col-xs-4 col-sm-3 col-md-2">
							<button class="makeButton" type="submit" value="{{ make.niceName }}">{{ make.name }}</button>
						</div>
					{% endfor %}
				</div>
				<div id="modelGrid" class="row">
					<!-- List model buttons here with JS. -->
				</div>
				<div id="yearGrid" class="row">

				</div>
				<div id="trimGrid" class="row">
					
				</div>
			</div>
			<div id="loading">
				<p>Loading ...</p>
			</div>
		</div>
	</div>
	<div id=foot>

	</div>

<script src="{% static 'search/narrow2.js' %}"></script>
<script src="{% static 'search/checkBoxes.js' %}"></script>
</body>

</html>
